/*!
Theme Name: The Arts Trail
Theme URI: theartstrail.co.uk
Description: The Arts Trail Directory site
Version: 1.0.0
Template: listify
*/




$ceramic: #1595A0;
$events: #3F3F3F;
$galleries: #813B81;
$glass: #B6AB23;
$metal: #EF8956;
$mixedmedia: #5B5B5B;
$otherarts: #C09DC0;
$painting: #CBE015;
$photography: #30D8F0;
$stone: #828282;
$studios: #A465A4;
$textile: #17A768;
$wood: #927556;



ul.nav-menu .sub-menu.category-list {
	.cat-item-68 {
		.category-count {
			background-color: $ceramic;
		}
	}
	.cat-item-76 {
		.category-count {
			background-color: $events;
		}
	}
	.cat-item-79 {
		.category-count {
			background-color: $galleries;
		}
	}
	.cat-item-69 {
		.category-count {
			background-color: $glass;
		}
	}
	.cat-item-70 {
		.category-count {
			background-color: $metal;
		}
	}
	.cat-item-90 {
		.category-count {
			background-color: $mixedmedia;
		}
	}
	.cat-item-80 {
		.category-count {
			background-color: $otherarts;
		}
	}
	.cat-item-71 {
		.category-count {
			background-color: $painting;
		}
	}
	.cat-item-72 {
		.category-count {
			background-color: $photography;
		}
	}
	.cat-item-73 {
		.category-count {
			background-color: $stone;
		}
	}
	.cat-item-74 {
		.category-count {
			background-color: $studios;
		}
	}
	.cat-item-75 {
		.category-count {
			background-color: $textile;
		}
	}
	.cat-item-76 {
		.category-count {
			background-color: $wood;
		}
	}										
}

/* Custom Mixins */
@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

$darkgrey: #323535;
$aqua: #3BBDD2;
$lightgrey: #F0F3F6;

body.wp-job-manager-categories-enabled .search_jobs>div.search_categories, .wp-job-manager-categories-enabled:not(.wp-job-manager-categories-multi-enabled) .search_jobs>div {width: 30%; margin-right: 2%;
	@media (max-width: 767px) { width: 100%; margin-right: 0;}
}

.listing-cover.has-image:after, .entry-cover.has-image:after, .listing-cover.has-image:after, .entry-cover.has-image:after {background: transparent;}

// PrettyPhoto
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(images/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(images/prettyPhoto/default/loader.gif) center center no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#fff;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}

div.pp_default .pp_content, div.light_rounded .pp_content {
background-color: rgba(0, 0, 0, 0);
}

// Owl Test

#single-gallery img {
max-width: 100%;
max-height: 450px;
display: block;
border: 	1px solid white;
margin: 0 auto;
}



// Owl Carousel
/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
/*
 *  Owl Carousel CSS3 Transitions
 *  v1.3.2
 */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}



/* Dark Theme */

.nav-menu .sub-menu.category-list,
ul.nav-menu .sub-menu.category-list,
input,
textarea,
.site select,
.facetwp-facet .facetwp-checkbox:before,
.widget_layered_nav li a:before,
.site-main .content-box select,
.site-main .job_listings select,
body .chosen-container-single .chosen-single,
body .chosen-container-multi .chosen-choices li.search-field input[type=text],
.entry-content div.mce-toolbar-grp { background-color: #fbfbfb }
.listing-cover,
.entry-cover,
.homepage-cover.page-cover,
.list-cover { background-color: #eeeeee }
input,
textarea,
input[type="checkbox"],
input[type="radio"],
.site select,
.facetwp-facet .facetwp-checkbox:before,
.widget_layered_nav li a:before,
.site-main .content-box select,
.site-main .job_listings select,
.content-pagination .page-numbers,
.facetwp-pager .facetwp-page,
.js-toggle-area-trigger,
.chosen-container-multi .chosen-choices,
.wp-editor-wrap,
.account-sign-in,
.filter_by_tag,
.job-manager-form fieldset.fieldset-job_hours,
.ninja-forms-required-items,
.showing_jobs,
.summary .stock,
.woocommerce-tabs .woocommerce-noreviews,
.entry-content .rcp_form input[type="text"]:focus,
.entry-content .rcp_form input[type="password"]:focus,
.entry-content .rcp_form input[type="email"]:focus,
.entry-content div.mce-toolbar-grp,
body .chosen-container-single .chosen-single,
body .chosen-container-multi .chosen-choices,
body .chosen-container-multi .chosen-choices li.search-field input[type=text],
.payment_methods li .payment_box,
.search-choice-close,
.filter_by_tag a:before,
.woocommerce .quantity input[type="button"] { border-color: #f3f3f3 }
.payment_methods li { background-color: #f3f3f3 }
a,
.content-pagination .page-numbers.current { color: $aqua }
a:active,
a:hover,
.primary-header .current-account-toggle .sub-menu a { color: #16c19f }
.job_position_featured .content-box { box-shadow: 0 0 0 3px $aqua }
.woocommerce .quantity input[type="button"] { color: $aqua }
.woocommerce-message,
.job-manager-message { border-color: $aqua }
.button[name=apply_coupon],
.type-product .onsale,
.type-product .price ins,
.job-package-tag { background-color: #f27935 }
.button[name=apply_coupon]:hover { background-color: #ed7430 }
.woocommerce-tabs .tabs .active a { color: #f27935 }
.as-seen-on { background-color: #3396d1 }
body,
button,
input,
select,
textarea,
.current-account-user-info,
.listify_widget_panel_listing_tags a,
.entry-cover.no-image,
.entry-cover.no-image a,
.listing-cover.no-image,
.listing-cover.no-image a:not(.button),
.entry-footer .button.button-small,
.widget a,
.content-pagination .page-numbers,
.facetwp-pager .facetwp-page,
.type-job_listing.style-list .job_listing-entry-header,
.type-job_listing.style-list .job_listing-entry-header a,
.js-toggle-area-trigger,
.job-dashboard-actions a,
body.fixed-map .site-footer,
body.fixed-map .site-footer a,
.homepage-cover .job_search_form .select:after,
.tabbed-listings-tabs a,
.archive-job_listing-toggle,
.map-marker-info a,
.map-marker-info a:hover,
.job-manager-form fieldset.fieldset-job_hours,
.listing-by-term-title a,
.listings-by-term-more a:hover,
.search_location .locate-me:hover:before,
.no-image .ion-ios7-star:before,
.no-image .ion-ios7-star-half:before,
.back-to-listing a,
body .chosen-container-single .chosen-single,
body .homepage-cover .chosen-container .chosen-results li,
.filter_by_tag a,
a.upload-images,
a.upload-images span,
.nav-menu .sub-menu.category-list a,
.woocommerce-tabs .tabs a,
.job-manager-bookmark-actions a { color: #717a8f }
.comment-meta a,
.commentlist a.comment-ago,
div:not(.no-image) .star-rating:before,
div:not(.no-image) .stars span a:before,
.cta-subtext,
.cta-description p,
.job_listing-author-descriptor,
.entry-meta,
.entry-meta a,
.home-widget-description,
.listings-by-term-content .job_listing-rating-count,
.listings-by-term-more a,
.search-form .search-submit:before,
.mfp-content .mfp-close:before,
.woocommerce .amount,
.woocommerce .quantity,
.showing_jobs { color: #949db2 }
.social-profiles a { background-color: #949db2 }
.search-overlay,
.primary-header { background-color: $darkgrey }
.nav-menu a,
.nav-menu li:before,
.nav-menu li:after,
.nav-menu a:before,
.nav-menu a:after,
.nav-menu ul a,
.nav-menu.primary ul ul a,
.nav-menu.primary ul ul li:before,
.nav-menu.primary ul ul li:after { color: $darkgrey }
.search-overlay a.search-overlay-toggle { color: #ffffff }
.search-overlay a.search-overlay-toggle,
.site-header .nav-menu ul ul a,
.site-header .nav-menu ul ul li:before,
.site-header .nav-menu ul ul li:after { color: $darkgrey }
ul.nav-menu .sub-menu.category-list,
.tertiary-navigation { background-color: $darkgrey }
.main-navigation {background: #ffffff;}
ul.nav-menu .sub-menu.category-list .category-count,
.call-to-action { background-color: $aqua }
ul.nav-menu .sub-menu.category-list .container:before { border-top-color: #ffffff }
.navigation-bar-toggle,
.main-navigation .search-overlay-toggle,
.main-navigation .search-overlay .search-overlay-toggle { color: #ffffff }
.listify_widget_panel_listing_tags a.active:before,
.job-package-includes li:before,
.woocommerce-tabs .tabs .active a { color: $aqua }
.button-secondary:hover,
.button-secondary:focus,
input[type="button"].facetwp-reset:hover,
input[type="button"].facetwp-reset:focus,
.star-rating-wrapper a:hover ~ a:before,
.star-rating-wrapper a:hover:before,
.star-rating-wrapper a.active ~ a:before,
.star-rating-wrapper a.active:before,
.woocommerce-tabs .stars span a:hover:before,
.woocommerce-tabs .stars span a.active:before,
.woocommerce-tabs .stars span a.hover:before,
.tabbed-listings-tabs a:hover,
.tabbed-listings-tabs a.active,
.archive-job_listing-toggle.active { color: #0cb795 }
button:not([role="presentation"]),
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.facetwp-type-slider .noUi-connect,
.ui-slider .ui-slider-range,
.listing-owner,
.comment-rating,
.job_listing-rating-average,
.map-marker.active:after,
.cluster,
.widget_calendar tbody a,
.job_listing-author-info-more a:first-child,
.load_more_jobs { background-color: $aqua }
button:not([role="presentation"]):hover,
button:not([role="presentation"]):focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.button:hover,
.button:focus,
::selection,
.load_more_jobs:hover { background-color: shade($aqua,15%); }

a:active, a:hover, .primary-header .current-account-toggle .sub-menu a  { color: shade($aqua,15%); }

.facetwp-type-slider .noUi-horizontal .noUi-handle,
.ui-slider .ui-slider-handle,
.tabbed-listings-tabs a:hover,
.tabbed-listings-tabs a.active,
.archive-job_listing-toggle.active,
.job-package:hover,
.woocommerce-info { border-color: $aqua }
input[type=checkbox]:checked:before,
.facetwp-facet .facetwp-checkbox.checked:after,
.facetwp-facet .facetwp-link.checked,
.widget_layered_nav li.chosen a:after,
.widget_layered_nav li.chosen a,
.ion-ios7-star:before,
.ion-ios7-star-half:before,
.upload-images:hover .upload-area,
.comment-author .rating-stars .ion-ios7-star,
.archive-job_listing-layout.button.active,
.job_listing_packages ul.job_packages li label,
.upload-images:hover,
.filter_by_tag a:after,
.search-choice-close:after { color: #f27935 }
.button-secondary,
input[type="button"].facetwp-reset,
.job_listing-author-info-more a:last-child { background-color: #f27935 }
.button-secondary:hover,
.button-secondary:focus,
input[type="button"].facetwp-reset:hover,
input[type="button"].facetwp-reset:focus { background-color: #ed7430 }
.upload-images:hover { border-color: #f27935 }
.site-footer, .site-footer-widgets { background-color: $darkgrey; }
.site-footer {color: #777777;}
@media screen and (min-width: 768px) {

	.site-header .nav-menu li:before,
	.site-header .nav-menu li:after {color: $darkgrey;}
	.nav-menu .sub-menu.category-list { background-color: $darkgrey }
	.site-header .nav-menu a:before,
	.site-header .nav-menu a:after,
	.site-header .nav-menu a {color: $aqua ;}

	.site-header .nav-menu ul ul.category-list a,
	.nav-menu.tertiary a { color: #ffffff }
}
@media screen and (min-width: 992px) {
	.nav-menu.primary a,
	.nav-menu.primary li:before,
	.nav-menu.primary li:after,
	.nav-menu.primary a:before,
	.nav-menu.primary a:after { color: #ffffff }
	.primary.nav-menu .current-cart .current-cart-count {
	    background-color: $aqua;
	    border-color: $darkgrey;
	}
}

// END DARK THEME

body, *:not(.wp-core-ui) button, input, select, textarea, * {
	font-family: 'museo-slab', helvetica, arial, sans-serif;
}


.site-social a {color: $aqua;}

/* Display Nones to improve */
.rating, .job_listing-entry-footer, .job_listing-author-avatar, .job_listing-rating-wrapper, .rss_link, .job_listing-author-info-more a:last-child {display: none !important;}


// FACETWP Loading Icon transparent base64
.facetwp-loading {
    background: url(data:image/gif;base64,R0lGODlhAQABAAAAACh5BAEKAAEALAAAAAABAAEAAAICTAEAOw==) no-repeat !important;
}


// GFORM POPUO
.gform_wrapper .top_label textarea.textarea.medium {width: 97.5% !important;}

// MAP MARKERS
.map-marker.type-68:after{border-top-color:#1595a0;}.map-marker.type-68 i:after{background-color:#1595a0;}.map-marker.type-68 i:before{color:#1595a0;}.map-marker.type-76:after{border-top-color:#3f3f3f;}.map-marker.type-76 i:after{background-color:#3f3f3f;}.map-marker.type-76 i:before{color:#3f3f3f;}.map-marker.type-79:after{border-top-color:#813b81;}.map-marker.type-79 i:after{background-color:#813b81;}.map-marker.type-79 i:before{color:#813b81;}.map-marker.type-69:after{border-top-color:#b6ab23;}.map-marker.type-69 i:after{background-color:#b6ab23;}.map-marker.type-69 i:before{color:#b6ab23;}.map-marker.type-70:after{border-top-color:#ef8956;}.map-marker.type-70 i:after{background-color:#ef8956;}.map-marker.type-70 i:before{color:#ef8956;}.map-marker.type-90:after{border-top-color:#5b5b5b;}.map-marker.type-90 i:after{background-color:#5b5b5b;}.map-marker.type-90 i:before{color:#5b5b5b;}.map-marker.type-80:after{border-top-color:#c09dc0;}.map-marker.type-80 i:after{background-color:#c09dc0;}.map-marker.type-80 i:before{color:#c09dc0;}.map-marker.type-71:after{border-top-color:#cbe015;}.map-marker.type-71 i:after{background-color:#cbe015;}.map-marker.type-71 i:before{color:#cbe015;}.map-marker.type-72:after{border-top-color:#30d8f0;}.map-marker.type-72 i:after{background-color:#30d8f0;}.map-marker.type-72 i:before{color:#30d8f0;}.map-marker.type-73:after{border-top-color:#828282;}.map-marker.type-73 i:after{background-color:#828282;}.map-marker.type-73 i:before{color:#828282;}.map-marker.type-78:after{border-top-color:#a465a4;}.map-marker.type-78 i:after{background-color:#a465a4;}.map-marker.type-78 i:before{color:#a465a4;}.map-marker.type-74:after{border-top-color:#17a768;}.map-marker.type-74 i:after{background-color:#17a768;}.map-marker.type-74 i:before{color:#17a768;}.map-marker.type-75:after{border-top-color:#927556;}.map-marker.type-75 i:after{background-color:#927556;}.map-marker.type-75 i:before{color:#927556;}


// Listing Submission Page

.listing-section-heading {

	h2 {
	background: $aqua;
	color: white;
	padding: 10px 20px;
	display: block;
	@include font-smoothing(on);
	display: block !important;
	border-bottom: 0;
	margin: 0 0 15px 0;
	font-size: 1.4rem;
	}
	p {
		font-size: 1rem;
		font-weight: normal;
	}
}

.profile-image {
	text-align: center;
}

.single_job_listing .listing-cover {
  background-image: none !important;
  padding: 20px 0 0 0 !important;
  color: $darkgrey;
  background: #666868;
}

.single_job_listing {
	background: #666868;
}



.style-list {
	.job_listing-title {
		color: $darkgrey !important;
	}
	.listing-cover.has-image, .listing-cover.has-image a, .entry-cover.has-image, .entry-cover.has-image a {
		color: $darkgrey;
	}
}

.single_job_listing .job_listing-title {
    color: #FFFFFF;
	font-size: 45px;
}
.content-single-job_listing-title-category {
	a {
		color: #FFFFFF !important;
		span {
			background-color: #3BBDD2;
   			padding: 5px 10px;
		}
	}
}
.single_job_listing .listing-cover.has-image, .single_job_listing .listing-cover.has-image a {color: $aqua;text-shadow:none; font-size: 1rem;@include font-smoothing(on);}

.single_job_listing .content-single-job_listing-hero-inner .google_map_link {
	display: none;
}

.listing-cover .cover-wrapper {
	margin-top: 20px;
}

.site-title a {
	@include font-smoothing(on);
}

.widget-author-info {
	text-align: center;
	h2 {
		margin-top: 0;
	}
	font-size: 1.4em;
}

.text-center {
	text-align: center;
}

// twitter timeline
.timeline {max-width: 100% !important;}
.twitter-timeline {width: 100% !important;}


.floatsocial {
    .twitter, .facebook {
    	margin-top: 10px;
		  display: inline-block;
		  margin-right: 10px;
		  padding: 10px;
		  width: 50px;
		  text-align: center;
	    .fa {
		    color: #fff;
		    font-size: rem-calc(24);
	    }
    }
    .facebook {
	    background: #2D5494;
	    &:hover {
		    background: darken(#2D5494,5%);
	    }
    }
    .twitter {
	    background: #00AAD5;
	    &:hover {
		    background: darken(#00AAD5,5%);
	    }
    }
}


pre {
	background: white;
}


.home-map-container {
	margin-top: 2em;
	@media screen and (max-width: 1000px) {
		display: none;
	}
	.job_listings-map-wrapper {border: 10px solid white;}
}



.hidden {
	display: none;
}

.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
  float: right;
  cursor: pointer;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}