/**
 * Page: Home
 *
 * Includes homepage widget styles
 */


/** Cover */

.homepage-cover {
	padding: 3em 0;
	position: relative;
}

.homepage-cover p {
	display: none;
}

	@include bp(sm) {
		.homepage-cover {
			padding: 4em 0 4em;
		}
	}

	@include bp(md) {
		.homepage-cover {
			padding: 4em 0 4em;
		}
	}


/** Video */

.homepage-cover {
	position: relative;

	.wp-video {
		visibility: hidden;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 100% !important;
		height: auto !important;
		position: absolute !important;
	}
}

.homepage-cover .home-widget {
	margin: 0;
}

.homepage-cover .home-widget-section-title {
	margin-top: 0;
}

.homepage-cover .home-widget-title {
	font-size: 20px;
	text-shadow: 3px 3px 3px black;
	-webkit-text-shadow: 3px 3px 3px black;
	-ms-text-shadow: 3px 3px 3px black;
	-moz-text-shadow: 3px 3px 3px black;
}

	@include bp(sm) {
		.homepage-cover .home-widget-title {
			font-size: 30px;
		}
	}

	@include bp(md) {
		.homepage-cover .home-widget-title {
			font-size: 40px;
		}
	}

.homepage-cover .home-widget-description {
	font-size: 13px;
	line-height: 1.5;
}

	@include bp(sm) {
		.homepage-cover .home-widget-description {
			font-size: 16px;
		}
	}


/** Search */

.homepage-cover {
	.home-widget-title,
	.home-widget-description {
		// text-shadow: none;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	&.has-image {
		.home-widget-title,
		.home-widget-description {
			color: #fff;
		}
	}

	.job_filters,
	.job_search_form {
		input[type="text"],
		select,
		.search_jobs > div.search_keywords input[type="text"],
		.search_jobs > div.search_location input[type="text"] {
			border: 0;
			background: #fff;
			box-shadow: none;
			padding: 13px 16px;
		}

		select {
			padding-top: 12px;
			padding-bottom: 11px;
		}

		input[type="text"]:focus,
		select:focus,
		.search_jobs > div.search_keywords input[type="text"]:focus,
		.search_jobs > div.search_location input[type="text"]:focus,
		.chosen-container-single .chosen-single {
			border-color: #fff;
			background: #fff;
			box-shadow: none;
		}

		.chosen-container-single {
			.chosen-drop {
				border: 0 !important;
			}

			.chosen-single {
				padding-top: 15px;
				padding-bottom: 14px;
				background: #fff !important;
				height: auto !important;
			}
		}

		.search_jobs > div.search_location input[type="text"],
		.search_jobs > div.search_location input[type="text"] {
			padding-right: 35px;
		}

		.select:after {
			text-shadow: none;
		}
	}
}

.homepage-cover .job_search_form select,
.template-home *:not(.site-content) .job_filters select {
	box-shadow: none;
}

.template-home .homepage-cover:not(.has-map) {
	.js-toggle-area-trigger {
		display: none;
	}

	.update_results {
		width: 100%;
		padding-top: 11px;
		padding-bottom: 11px;
	}

		@include bp(md) {
			.update_results {
				width: 20%;
			}
		}
}


/** Map */

.template-home .listify_widget_search_listings,
.template-home .homepage-cover.has-map {
	.job_listings-map-wrapper {
		display: block;
		position: relative;
	}

	.job_listings-map {
		height: 400px;
	}

	.job_types,
	.filter-by-type-label,
	.showing_jobs,
	.search-radius-wrapper,
	.load_more_jobs,
	.job-manager-pagination,
	.filter_by_tag {
		display: none !important;
	}

	.job_filters {
		background: none;
		box-shadow: none;
		padding: 0;
		bottom: 40px;
	}

		@include bp(md) {
			.job_filters {
				max-width: 80%;
				margin: 0 auto;
				left: 13%;
				bottom: 20px;
				display: block !important;
			}

			.search_jobs {
				float: left;
				width: 77%;
			}

			.update_results {
				width: 20%;
				float: right;
				margin: 0;
				clear: none;
			}
		}

	.archive-job_listing-filter-title,
	ul.job_listings,
	.filter_by_tag,
	.job_types {
		display: none;
	}
}

.template-home .homepage-cover.has-map {
	padding: 0;

	.job_filters,
	.js-toggle-area-trigger {
		z-index: 20;
		position: absolute;
		bottom: 20px;
		width: 80%;
		left: 10%;
	}

	@include bp(lg) {
		.job_filters,
		.js-toggle-area-trigger {
			width: 1140px;
			left: 50%;
			margin-left: -570px;
			max-width: none;
		}

		.job_filters {
			display: block !important;
		}
	}

	.archive-job_listing-toggle-wrapper,
	.job_filters .widget-title,
	.facetwp-pager {
		display: none;
	}

	.job_filters .update_results {
		margin-bottom: 1.5em;
	}

	div.facetwp-facet {
		margin-bottom: 15px;
	}

		@include bp(md) {
			div.facetwp-facet {
				margin-bottom: 0;
			}
		}
}

/** Widgets */

.home-widget,
.homepage-hero-style-none .home-widget:first-child {
	margin: 4em 0;
}

.home-widget + .container {
	margin-top: -4em;
}

.home .container:not(:last-of-type) .home-widget:last-child {
	margin-bottom: 0;
}

.home-widget.no-margin {
	margin: 0 !important;
}

	@include bp(sm) {
		.home-widget {
			margin: 6em 0;
		}

		.home-widget + .container {
			margin-top: -6em;
		}
	}

	@include bp(md) {
		.home-widget {
			margin: 9em 0;
		}

		.home-widget + .container {
			margin-top: -9em;
		}
	}

.home-widget-section-title {
	margin: 2em 0 1em 0;
}

.home-widget:first-child .home-widget-section-title {
	margin-top: 0;
}

	@include bp(sm) {
		.home-widget-section-title {
			margin: 3em 0 1.5em 0;
		}
	}

	@include bp(md) {
		.home-widget-section-title {
			margin: 4em 0 2em 0;
		}
	}

.home-widget-title,
.home-widget-description {
	margin: 0;
	padding: 0;
	text-align: center;
}

.home-widget-title {
	font-size: 20px;
}

	@include bp(sm) {
		.home-widget-title {
			font-size: 26px;
		}
	}

.home-widget-description {
	font-size: 13px;
	color: #b4bcc7;
	margin-top: 0.33em;
}

	@include bp(sm) {
		.home-widget-description {
			margin-top: 0.75em;
			font-size: 16px;
		}
	}

/** Recent */
.listify_widget_recent_listings.home-widget:not(:last-child),
.listify_widget_taxonomy_image_grid.home-widget:not(:last-child) {
	margin-bottom: -30px;
}

/** Search */

.listify_widget_search_listings.home-widget .job_search_form {
	@extend .content-box;
	max-width: 100%;
	margin-bottom: 0;
}

	@include bp(md) {
		.job_search_form {
			max-width: 80%;
			margin: 0 auto;
		}
	}

.job_search_form input,
.job_search_form select {
	min-width: 100%;
}

.job_search_form .select {
	display: block;
}

.job_search_form .select:before {
	height: 40px;
}

.job_search_form input[type="submit"] {
	padding: 13px;
}

.job_search_form .search_keywords,
.job_search_form .search_location,
.job_search_form .search_category {
	margin-bottom: 15px;
}

.locate-me {
	text-shadow: none !important;
}

@include bp(md) {
	.job_search_form .search_keywords,
	.job_search_form .search_location,
	.job_search_form .search_category {
		margin-bottom: 0;
	}
}

.job_search_form .facetwp-facet {
	margin-bottom: 15px;
}

.job_search_form .row.facetwp-submit {
	margin-top: -15px;
	margin-bottom: 0;
}


/** Tabed Listings */

.tabbed-listings-tabs {
	margin: 0 0 2em;
	padding: 0;
	list-style: none;
	text-align: center;
}

	@include bp(md) {
		.listify_widget_tabbed_listings .home-widget-section-title {
			float: left;
			margin-bottom: 0;
			margin-top: 0;
		}

		.tabbed-listings-tabs {
			text-align: right;
		}
	}

.tabbed-listings-tabs li {
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.tabbed-listings-tabs a {
	@extend .content-box;

	display: inline-block;
	margin-right: 10px;
	padding: 6px 18px;
	border-radius: 3px;
	margin: 0;
	line-height: normal;
	border: 2px solid transparent;
}

.tabbed-listings-tabs li:last-child a:after {
	content: '\f125';
	margin-top: -1px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}

.tabbed-listings-tabs-wrapper {
	clear: both;
}


/** Listing by Term */

.listing-by-term-inner {
	@extend .content-box;
}

.listing-by-term-title {
	margin-top: 0;
}

.listings-by-term ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.listings-by-term li {
	position: relative;
	margin-bottom: 1.5em;
}

.listings-by-term li:last-child {
	margin-bottom: 0;
}

.listings-by-term-preview,
.listings-by-term-content {
	display: inline-block;
	vertical-align: middle;
}

.listings-by-term-content {
	margin-left: 15px;
	max-width: 70%;
	margin-bottom: 0;
}

.listings-by-term-preview img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.listings-by-term-content .job_listing-rating-average {
	display: none;
}

.listings-by-term-content .job_listing-rating-wrapper {
	display: block;
}

.listings-by-term-content .job_listing-rating-stars .star-icon {
	font-size: 14px;
}

.listings-by-term-content .job_listing-rating-count {
	color: #b4bcc7;
}

.listings-by-term-more {
	text-align: center;
	margin: 2em 0 0;

	a {
		font-size: 13px;
		line-height: normal;
		margin: 0 auto;
		padding: 5px 15px;
		border-radius: 3px;
		border: 1px solid #b4bcc7;
		display: inline-block;
		opacity: 1 !important;
	}
}


/** Image Grid */

.image-grid-item {
	margin-bottom: 30px;
}

.image-grid-cover {
	width: 100%;
	padding: 0;
	border-radius: 4px;
	overflow: hidden;

	&:after {
		border-radius: 4px;
		overflow: hidden;
	}
}

.image-grid-cover {
	padding: 3em 0;
    position: relative;

    .cover-wrapper {
        font-size: 18px;
        text-align: center;
        display: block;
    }

	@include bp(sm) {
		padding: 10em 0;

		.cover-wrapper {
            position: absolute !important;
            width: 90%;
            text-align: center;
            left: 5%;
            top: 50%;
			font-size: 20px;

            -wekit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
		}
	}

	@include bp(md) {
		.cover-wrapper {
			font-size: 24px;
		}
	}

	@include bp(lg) {
		.cover-wrapper {
			font-size: 28px;
		}
	}
}

/** WooCommerce */

.home .woocommerce-message,
.home .woocommerce-error,
.home .woocommerce-info {
	margin-top: 3em;
}


/** Map */

.template-home .home-widget .job_listings-map {
	margin-bottom: 2em;
}


/** Features */

.home-features-wrapper {
	margin-bottom: -3em;
}

.home-feature {
	@extend .content-box;
}

.home-feature-title h2 {
	margin: 1.25em 0 0.75em;
	font-size: 23px;
	line-height: 1.5;
	text-align: center;
}

.home-feature-media {

	img {
		width: 50%;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		display: block;
	}

}


/** Feature Callout */

.feature-callout {
	position: relative;
}

.feature-callout-image-pull,
.feature-callout-cover {
	background-size: cover;
	background-position: center;
}

.feature-callout-image-pull {
	min-height: 200px;
}

	@include bp(sm) {
		.feature-callout-image-pull {
			position: absolute;
			top: 0;
			bottom: 0;
		}
	}

.feature-callout-cover {
	&.has-overlay:after {
		content: ' ';
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;

		background: rgba(0,0,0,.50);
	}

	.container {
		position: relative;
		z-index: 2;
	}

	.button {
		background: none;
		border: 2px solid #fff;
		border-radius: 6px;
		padding-top: 14px;
		padding-bottom: 14px;

		&:hover {
			background: none;
		}
	}
}

.feature-callout.text-right {
	.feature-callout-content {
		text-align: right;
	}

	.feature-callout-cover {
		background-position: center left;
	}
}

.feature-callout.text-left .feature-callout-cover {
	background-position: center right;
}

	@include bp(sm) {
		.feature-callout.text-right .feature-callout-cover.has-overlay:after {
			background: -webkit-linear-gradient(left, rgba(0,0,0,0) 50, rgba(0,0,0,.80) 100%);
			background: -moz-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,.80) 100%);
			background: -ms-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,.80) 100%);
			background: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(0,0,0,.80) 100%);
		}

		.feature-callout.text-left .feature-callout-cover.has-overlay:after {
			background: -webkit-linear-gradient(right, rgba(0,0,0,0) 50%, rgba(0,0,0,.80) 100%);
			background: -moz-linear-gradient(right, rgba(0,0,0,0) 50%, rgba(0,0,0,.80) 100%);
			background: -ms-linear-gradient(right, rgba(0,0,0,0) 50%, rgba(0,0,0,.80) 100%);
			background: linear-gradient(to left, rgba(0,0,0,0) 50%, rgba(0,0,0,.80) 100%);
		}
	}

.feature-callout.text-center .feature-callout-cover {
	text-align: center;

	h2 {
		letter-spacing: 0.10em;
		text-transform: uppercase;
	}
}

	@include bp(md) {
		.feature-callout.text-center .callout-feature-content {
			max-width: 75%;
			margin: 0 auto;
		}

		.feature-callout.text-center h2 {
			font-size: 48px;
			font-weight: 800;
		}
	}

.callout-feature-content {
	padding: 3em 0;

	h2 {
		font-size: 24px;
		margin-top: 0;
	}

	p {
		line-height: 1.75;

		-webkit-hyphens: none;
		-moz-hyphens:    none;
		-ms-hyphens:     none;
		hyphens:         none;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

	@include bp(sm) {
		.callout-feature-content {
			padding-top: 6em;
			padding-bottom: 6em;

			h2 {
				font-size: 30px;
				font-weight: 400;
				line-height: 1.9;
				margin: 0;
			}

			p {
				font-size: 16px;
				line-height: 2;
				margin: 1.5em 0;
			}
		}

		.feature-callout.text-left .callout-feature-content {
			padding-right: 2em;
		}

		.feature-callout.text-right .callout-feature-content {
			padding-left: 2em;
		}
	}

	@include bp(md) {
		.callout-feature-content {
			padding-top: 8em;
			padding-bottom: 8em;
		}
	}

	@include bp(lg) {
		.callout-feature-content {
			padding-top: 12em;
			padding-bottom: 12em;
		}

		.feature-callout.text-left .callout-feature-content {
			padding-right: 3em;
		}

		.feature-callout.text-right .callout-feature-content {
			padding-left: 3em;
		}
	}
